/*header and nav part*/
body {
    font-family: 'Poppins', sans-serif;
}

.home {
    background-image: url(../img/shape-1.png);
    background-position: center;
    background-repeat: no-repeat;
}

header {
    position: fixed !important;
    top: 0;
    transition: .3s all;
}

nav {
    padding: 60px 75px 0;
    display: table;
    transition: .3s all;
}

.navLeft {
    margin: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.navRight {
    overflow: visible;
}

.navRight > ul > li {
    display: inline-block;
    margin-right: 40px;
    position: relative;

}

.navRight ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 5px;
    z-index: -1;
    width: 0;
    height: 5px;
    background-color: #99efb5;
    transition: .3s all;
}

.liAfter:nth-of-type(1)::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 5px;
    z-index: -1;
    width: 100% !important;
    height: 5px;
    background-color: #99efb5;
    transition: .3s all;
}

.navRight ul li a:hover:after {
    content: '';
    position: absolute;
    transition: .3s all;
    left: 0;
    bottom: 5px;
    z-index: -1;
    width: 100%;
    height: 5px;
    background-color: #99efb5;
}

ul li a {
    font-size: 18px;
    color: #38384f;
    font-weight: 500;
    transition: .3s all;
}

ul li a:hover {
    color: #38384f;
}

.homeBtn {
    border-radius: 6px;
    padding: 6px 26px !important;
    color: #38384f;
    font-size: 15px;
    font-weight: 600;
    background-color: transparent !important;
    border: 2px solid rgba(0, 0, 10, 0.08);
    box-shadow: none;
}

.homeBtn:hover {
    background-color: #00d747 !important;
    color: #fff;
    border: 2px solid #00d747;
    box-shadow: none;
}





/*submenu part*/

.subUl {
    background-color: #fff;
    z-index: -1;
    transition: .3s all;
    position: absolute;
    opacity: 0;
    top: 100%;
    width: 230px;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    box-shadow: 0px 13px 25px -12px rgba(0, 0, 0, 0.25);
}

.subLi {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 0 10px;
    transition: .3s all;
}

.subLi > a {
    font-size: 15px !important;
    letter-spacing: 1px;

}

.navRight ul li.liAfter:hover .subUl {
    opacity: 1;
    transition: .3s all;
}

.navRight ul li.liAfter:hover .subLi {
    opacity: 1;
    transition: .3s all;
    padding: 10px 10px;
}

.subLi a{
    transition: .3s all;
    position: relative;
}

.subLi a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 5px;
    z-index: -1;
    width: 0;
    height: 5px;
    background-color: #99efb5;
    transition: .3s all;
}

.subLi a:hover:after {
    content: '';
    position: absolute;
    transition: .3s all;
    left: 0;
    bottom: 5px;
    z-index: -1;
    width: 100%;
    height: 5px;
    background-color: #99efb5;
}

/*home content*/


.homeContentMain {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.homeContent p {
    color: rgba(0, 0, 0, 0.4) !important;
    font-size: 22px;
    font-weight: 400;
}

.homeContent h1 {
    color: #2d2d43;
    font-size: 60px;
    font-weight: 600;
    position: relative;
}

.homeContent h1 span {
    position: relative;
}

.homeContent h1 span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 18px;
    z-index: -1;
    width: 100%;
    height: 5px;
    background-color: #99efb5;
    transition: .3s all;
}

.homeContent button {
    box-shadow: none !important;
    padding: 15px 45px;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}

.homeContent button::after {
    position: absolute;
    width: 95%;
    height: 90%;
    border: 3px solid #fff;
    opacity: 0;
    border-radius: 40px;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    transition: .3s all;
}

.homeContent button:hover:after {
    opacity: 1;
    transition: .3s all;
}

/*homeImg*/

.homeImg img {
    position: absolute;
    right: -150px;
    z-index: -2;
    bottom: 40px;
    height: 556px;
}


/*homeContent part 2*/

.homeContent2 {}

.homeContent2 h2 {
    padding: 0 100px;
    line-height: 54px;
    font-family: lato;
    font-size: 38px;
    font-weight: 300;
    color: #2d2d43;
}
